* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: black;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.topnav {
  display: none;
}

nav {
  position: sticky;
  top: 0;
  background: black;
  opacity: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-links a:hover {
  color: red;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(./images/studiophoto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}

.container .btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 70%;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.container .btn:hover {
  background-color: white;
  opacity: 100%;
}

.container a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: orange;
  background: transparent;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  margin: 1rem 3rem 3rem;
  text-align: center;
  max-width: 60%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 5rem 3rem;
}

.welcome-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem;
  height: 250px;
  width: 300px;
  background-color: #333;
  border-radius: 10px;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.title {
  background-color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.iconify {
  font-size: 24px;
  background-color: #333;
}

.title h2 {
  margin-left: 1rem;
  background-color: #333;
}

p {
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #333;
}

.welcome button {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  opacity: 80%;
}

.welcome button:hover {
  opacity: 100%;
}

.welcome a {
  background-color: white;
  color: black;
  text-decoration: none;
}

.welcome a:hover {
  color: red;
  font-weight: bold;
}
